.arrivals_background {
  width: 100%;
  height: 829px;
  background-image: url('../../assets/arrivals_back.png');
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat; 
  margin-bottom: 100px;
}

.main_text {
  font-size: 200px;
  padding-bottom: 94px;
}

.main_text span {
  color: #fff;
}


.a_p1 {
  font-size: 20px;
  color: rgba(46, 46, 46, 1);
  line-height: 24px;
  padding-left: 800px;
}

.a_h3 {
  font-size: 34px;
  line-height: 40px;
  padding-left: 800px;
}

.p2_wrap {
  width: 419px;
  height: 72px;
  margin-left: 800px;
  margin-bottom: 30px;
}

.a_p2 {
  width: 419px;
  height: 72px;
  font-size: 16px;
  line-height: 24px;
}

.arrivals_card-wrapper {
  display: flex;
  gap: 18px;
  margin-left: 800px;
}

.a_card1 {
  width: 123px;
  border: 1px solid gray;
  border-radius: 8px;
  text-align: center;
  padding-top: 20px;
}

.card_p1 {
  font-size: 16px;
}

.card_p2 {
  font-size: 26px;
}

.a_card2 {
  padding: 20px;
  border: 1px solid gray;
  border-radius: 8px;
}

.a_cards {
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  gap: 20px;
}

.acard_wrapper {
  width: 338px;
  text-align: center;
}

.acard_wrapper img {
  width: 338px;
  height: 338px;
  border: none;
  border-radius: 8px;
}

.icons{
  color: rgba(0, 250, 235, 1);
}

.acard_wrapper b {
  padding-bottom: 8px;
}

.acard_wrapper p {
  padding-bottom: 8px;
}