.flash_cards {
  display: flex;
  gap: 30px;
  padding-bottom: 100px;
}

.flash_sales h3 {
  padding-bottom: 40px;
}

.flash_first {
  width: 705px;
  height: 418px;
  border: none;
  border-radius: 8px;
  display: flex;
  background-color: rgb(188, 187, 187);
}

.flash_img img{
  width: 300px;
  height: 300px;
  padding-top: 80px;
  padding-left: 20px;
}

.flash_img {
  width: 338px;
  height: 338px;
  padding-top: 40px;
  margin-left: 10px;
}

.flash_icons {
  color: rgba(0, 250, 235, 1);

}

.flash_second {
  width: 705px;
  height: 418px;
  border: none;
  border-radius: 8px;
  display: flex;
  background-color: rgb(188, 187, 187);
}

.categories{
  display: grid;          
  grid-template-columns: repeat(3, 3fr);      
  gap: 20px;              
}

 h3 {
  padding-bottom: 40px;
}

.c_1 {
  width: 290px;
  height: 220px;
  border: 1px solid gray;
  border-radius: 8px;
}

.c_2 {
  width: 290px;
  height: 220px;
  border: 1px solid gray;
  border-radius: 8px;
}

.c_3 {
  width: 290px;
  height: 220px;
  border: 1px solid gray;
  border-radius: 8px;
}

.c_4 {
  width: 290px;
  height: 220px;
  border: 1px solid gray;
  border-radius: 8px;
}

.c_5 {
  width: 290px;
  height: 220px;
  border: 1px solid gray;
  border-radius: 8px;
}

.c_6 {
  width: 290px;
  height: 220px;
  border: 1px solid gray;
  border-radius: 8px;
}

.c1_text {
  margin-left: 130px;
}

p {
  padding-bottom: 10px;
}

