.mac_back {
  background-image: url("../../assets/mac_back.png");
  height: 320px;
  margin-bottom: 100px;
}

.mac_text h3 {
  width: 320px;
  font-size: 34px;
  line-height: 40px;
  font-weight: 600px;
}

.mac_first {
  display: flex;
  gap: 4px;
  align-items: center;
}


