.footer_section {
  background: #111;
  padding-top: 120px;
  color: white;
  position: relative;
}


.instagram_icon {
  display: flex;
  gap: 20px;
  position: absolute;
  top: -70px;
  left: 185px;
}

.instagram_card {
  width: 160px;
  height: 140px;
  background: #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 6px;
}


.footer_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 60px 0;
}

.footer_left {
  max-width: 320px;
}

.f_logo {
  color: #fff;
}

.footer_input {
  display: flex;
  margin-top: 15px;
}

.footer_input input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

.footer_input button {
  padding: 10px 16px;
  background: #00c2a8;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.f_icons {
  display: flex;
  gap: 12px;
  margin-top: 15px;
}

.footer_nav p {
  margin: 6px 0;
  opacity: 0.8;
}
