.banner_wrapper {
  width: 100%;
  height: 958px; 
  background-image: url('../../assets/banner_bg.png'); 
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat; 
  margin-bottom: 100px;
}

.banner_text {
  margin-top: 130px;
}

.banner_icon {
  width: 40px;
  height: 40px;
  color: #fff;
  margin-bottom: 20px;
}

.banner_p1 {
  font-size: 20px;
  color: #fff;
  padding-bottom: 12px;

}

.banner_wrapper h2 {
  font-size: 60px;
  padding-bottom: 12px;
  color: #fff;
  width: 368px;
  height: 136px;
}

.banner_p2 {
  width: 315px;
  height: 40px;
  font-size: 14px;
  letter-spacing: 0.25%;
  line-height: 20px;
  font-weight: 500px;
  color: rgba(207, 207, 207, 1);
  padding-bottom: 20px;
}

.banner_border{
  border: 1px solid rgba(207, 207, 207, 1);
  border-radius: 8px;
  width: 430px;
  height: 128px;
  color: rgba(207, 207, 207, 1);
  margin-bottom: 20px;
}

.first {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-left: 16px;
  padding-bottom: 18px;
  padding-top: 14px;
}



.second {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-left: 16px;
  padding-bottom: 18px;
}



.third {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-left: 16px;
  padding-bottom: 18px;
}

.banner_btn1 {
  padding: 18px 32px;
  border: none;
  border-radius: 8px;
  background-color: rgba(0, 250, 235, 1);
  margin-right: 16px;

}

.banner_btn2 {
  padding: 18px 32px;
  border: none;
  border-radius: 8px;
  background-color: #fff;
  margin-right: 16px;
}